<div class="footer-col">
    <h2> Stream Info</h2>
    <div class="footer-col-p">
        <form action="https://tinyletter.com/comfyconau" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/comfyconau', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><label for="tlemail">Signups now available to receive links to the talks stream in your inbox. This is entirely optional!</label></p><p><input type="text" style="width:140px" name="email" id="tlemail" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" /><p><a href="https://tinyletter.com" target="_blank">powered by TinyLetter</a></p></form>
    </div>
</div>
