---
layout: default
---

    <head>
        <title>{{ page.title }}</title>
        <style>
            /** Hero main page**/
            .hero {
                width: 100vw; 
                background-color: #7dc4b2; 
                padding-top: 10%;
                text-align: center;
                background-image: url("/assets/imgs/hero_background.png");
                background-position: bottom;
                background-repeat: repeat-x;
                background-size: 100% auto;
                margin: auto;
            }

          </style>
    </head>
    <body>
        {{ content }}
    </body>
